{
  "name": "com.printkit.host",
  "description": "PrintKit Native Messaging Host",
  "path": "HOST_PATH_PLACEHOLDER",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://memmopnlapcegennpipheiadaonehljd/"
  ]
}
